<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css')}}">
   
</head>
<body>
<div>
<header class="cabeza">
    <div><h1>YO </h1></div>
    <div class="menu">
        <a href="http://127.0.0.1:5020/">incio</a>
        <a href="http://127.0.0.1:5020/porta">PORTAFOLIO</a>
        <a href="http://127.0.0.1:5020/acerca">ACERCA DE</a>
        <a href="http://127.0.0.1:5020/contacto">CONTACTO</a>
    </div>
</header>
<section class="sesion 1">
    <div><form>
        <label for="">Nombre</label><br>
        <input type="text" name="n1" id="n1"><br>
        <label for="">Apellido</label><br>
        <input type="text" name="n2" id="n2"><br>
        <label for="">Email</label><br>
        <input type="text" name="n3" id="n3"><br>
        <label for="">Telefono</label><br>
        <input type="email" name="n4" id="n4"><br>
        <label for="">Dejanos un Mensaje</label><br>
        <input type="text" name="n5" id="n5"><br>
        <br><br><br>
        <a href="http://127.0.0.1:5020/">enviar</a>
    </div></form>
</section>
</body>
</html>