<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css')}}">
    
</head>
<body>
<div>
<header class="cabeza">
    <div><h1>YO </h1></div>
    <div class="menu">
        <a href="http://127.0.0.1:5020/">incio</a>
        <a href="http://127.0.0.1:5020/porta">PORTAFOLIO</a>
        <a href="http://127.0.0.1:5020/acerca">ACERCA DE</a>
        <a href="http://127.0.0.1:5020/contacto">CONTACTO</a>
    </div>
</header>
<section class="sesion1">
    <h1>Yeferson Ortega</h1>
</section>
<section class="sesion2">
    <div><img src="static/img/html.png" alt="img1" width="200px" height="300px"></div>
    <div><img src="static/img/python.png" alt="img2" width="200px" height="300px"></div>
    <div><img src="static/img/css.png" alt="img3" width="200px" height="300px"></div>
</section>

</body>
</html>